@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  
  /* Brand Colors */
  --color-brand-black: #050505;
  --color-brand-pink: #ff0055;
  --color-brand-rose: #ffbdc9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
  
  --color-brand-black: var(--color-brand-black);
  --color-brand-pink: var(--color-brand-pink);
  --color-brand-rose: var(--color-brand-rose);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
